// Required for preview position
.campaign-admin__campaign {
  position: relative;
  height: 100%;

  .campaign-admin__campaign-preview--empty {
    align-items: center;
    justify-content: center;
  }

  .campaign-admin__empty-heading {
    font-size: $h1-font-size;
    margin-bottom: 1em;
  }

  .campaign-admin__empty-info {
    padding: calc(270px + 0.5em) $panel-padding-x 0 $panel-padding-x;
    background-image: url("images/empty-campaign-preview.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    font-size: $font-size-lg;
    text-align: center;
  }
}

.campaign-admin__campaign-items {
   z-index: 1;
   position: relative;

   @include media-breakpoint-up(lg) {
     width: $cms-panel-sm;
   }
 }

.campaign-admin__campaign-items-edit {
  width: 100%;
  z-index: 1;
  position: relative;
}

// Campaign items which have linked associations
.campaign-admin__item-links,
.campaign-admin__item-links--has-links,
.campaign-admin__item-links--is-linked {
  display: flex;
  align-items: center;
  color: $brand-primary;
  position: absolute;
  right: $spacer;
  bottom: $spacer * 2 / 3;
  font-size: $font-size-sm;

  .font-icon-link {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-right: 1px;
    margin-left: 3px;
  }

  .campaign-admin__item-links__number {
    opacity: 0;
  }
}

.list-group-item {

  &:hover {
    .campaign-admin__item-links--is-linked {
      opacity: 1;
    }
  }

  &.active {
    .campaign-admin__item-links--has-links {
      @include media-breakpoint-up(lg) {
        color: $white;
      }

      opacity: 1;
    }

    .campaign-admin__item-links__number {
      opacity: 1;
    }
  }

  .list-group-item__heading {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.list-group-wrapper--empty {
  .list-group {
    border-bottom: 0;
  }

  .list-group-item {
    background: transparent;
    font-style: italic;
    border-bottom: 0;
    cursor: default;
  }

  .accordion__title {
    cursor: default;

    &:before {
      display: none;
    }
  }
}

.campaign-admin__item-links--is-linked {
  opacity: 1;

  .campaign-admin__item-links__number {
    display: none;
  }
}

.list-group-item:hover {
  .campaign-admin__item-links--is-linked {
    opacity: 1;
  }
}

.campaign-admin__unremoveable-item {
  margin-bottom: 0;
  padding-left: 35px;

  .font-icon-link {
    position: absolute;
    top: 13px;
    left: 13px;
  }
}

.campaign-status {
  $diameter: 10px;

  display: inline-block;
  width: $diameter;
  height: $diameter;
  border-radius: $diameter;
  margin-right: .5em;

  &--open {
    background-color: $brand-primary;
  }

  &--published {
    background-color: $brand-success;
  }
}

.campaign-admin__campaign-preview{
  &.preview-only {
    border-left: 0;
  }

  &.btn-toolbar
  > .btn,
  > .dropdown {
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
